<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body style="background-color:#000000; color:#ffffff">
	<div class="menubar">
		<img src="/img/fen.png" alt="Logo" height=90%></img>
		<a href="/">Home</a>
	</div>

	<div class="leftsidebar">
		<h1><b>Tools</b></h1>
		<a href="/username-to-ips">Username to IPs</a>
		<br>
		<a href="/ip-to-usernames">IP to usernames</a>
		<br>
		<a href="/find-alts">Find alts</a>
		<br>
		<a href="/playtimes">Playtimes</a>
	</div>

	<div class="pagecontent">
		<h1><b>Find alt accounts</b></h1>
		<label for="username" style="color:#9d9d9d">Username (case-sensitive)</label>

		<form action="/find-alts" method="get" autocomplete="off">
			<!-- Disables autofill -->
			<input autocomplete="false" name="hidden" type="text" style="display:none">

			<input type="text" id="username" name="username" value="{{.Username}}" required>
			<input type="submit" value="Submit">
		</form>

		<br>
		<div style="color:#9d9d9d">
		{{if .AltAccounts}}
			Alt accounts found:
			<br>
		{{end}}
		</div>

		{{if .NoParams}}
			
		{{else if not .AltAccounts}}
			No alt accounts found
		{{else}}
			{{range .AltAccounts}}{{.}}<br>{{end}}
		{{end}}
	</div>
</body>

</html>
